/*
 <!--
    Lab 13: Layout (Mock & Style)
    Group: B 
    1. Name: SANTHYA MUNIAPPAN, Matric No: SX220761ECJHS03,Github id : SanthyaM
    2. Name: SUMATHI A/P  KESAVAN, Matric No: SX212327ECJHF03,Github id : sumathi2510
    3. Name: MOHAMAD LUTHFI SHOHIME, Matric No: SX222134ECJHF03,Github id : luthfimohamad09
    -->
/* base colors */
header {
  background-color: #f94144;
}

nav {
  background-color: #f3722c;
}

aside {
  background-color: #f9c74f;
}

section {
  background-color: #90be6d;
}

section article {
  background-color: #4d908e;
}

footer {
  color: white;
  background-color: #264653;
}

/* base block layout */
body {
  width: 50em;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
}

body > * {
  padding: 1em;
}

header {
  grid-area: header; 
}

nav {
  grid-area: nav;
}

main {
  padding: 0;
  width: 650px;
  grid-area: main;
}

aside {
  padding: 1em;
  width: 250px;
  grid-area: aside;
}

footer {
  grid-area: footer;
}

main > * {
  padding: 1em;
}

h1, h2 {
  margin: 0;
}

main section article {
  padding: 1em;
  margin: 1em;
}